<div class="header">
  <h2>{{showSubjectsCtrl.subject.title}}</h2>
  <h3>
    <a ng-href="./#/subjects/{{showSubjectsCtrl.subject.id}}/edit">edit</a>
    <span ng-click="showSubjectsCtrl.delete(showSubjectsCtrl.subject.id)" class="delete">delete</span>
    <a ng-href="./#/subjects/{{showSubjectsCtrl.subject.id}}/add">add card</a>
  </h3>
</div>


<div class="card_container">
  <div class="card" ng-repeat="card in showSubjectsCtrl.subject.cards">
    <div class="question"><p>{{card.question}}</p></div>
    <div class="answer"><p>{{card.answer}}</p></div>
    <span ng-click="showSubjectsCtrl.deleteCard(card)" class="delete_card">(X)</span>
    <!-- <span ng-click="showSubjectsCtrl.editCard(card)">(Edit)</span> -->
  </div>
</div>
