<h2><span class="subject">{{showSubjectsCtrl.subject.title}}</span> - {{showSubjectsCtrl.subject.definition}}<a class="small" ng-href="./#/subjects/{{showSubjectsCtrl.subject.id}}/edit">Edit Subject</a>
<span class="small" ng-click="showSubjectsCtrl.delete(showSubjectsCtrl.subject.id)">Delete Subject</span></h2>


<form ng-submit="showSubjectsCtrl.createCard(showSubjectsCtrl.card)">
  <label>Question</label>
  <input type="text" ng-model="showSubjectsCtrl.card.question" name="question">
  <label>Answer</label>
  <input type="text" ng-model="showSubjectsCtrl.card.answer" name="answer">
  <button type="submit">Add Card</button>
</form>

<ul ng-repeat="card in showSubjectsCtrl.subject.cards">
    <li>{{card.question}} ---- {{card.answer}}<span ng-click="showSubjectsCtrl.deleteCard(card)">(X)</span><span ng-click="showSubjectsCtrl.editCard(card)">(Edit)</span></li>
</ul>
